.App {
  text-align: center;
}

.ExtraSpace {
  height: 1000px;
}

.App-logo {
  /* position: absolute;
  top: 12px;
  left: 70px; */
  height: 35px;
}

.Header {
  /* background-color: #282c34; */
  position: sticky;
  background-color: white;
  height: 60px;
  width: 100vw;
  /* display: inline-block;
  align-items: center;
  color: white;
  padding: 5px; */
}

.Header ul {
  margin: 0px;
	padding: 3px;
  text-align: center;
	/* margin-left: 390px; */
}

.Header ul li {
	margin-right: 20px;
	/* font-weight: bold; */
	list-style: none; /* Gets rid of list bullet points */
	/* text-align: center; */
	
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */

	/*display: ;*/
	display: inline-block;
}

.Header-button {
  position: relative;
  background-color: #00204E; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Header-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}