.eventPage {
    margin-top: 20px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 30px auto;
    height: 600px;
    left: 100px;
    position: relative;
}

.eventBlock {
    position: relative;
    float:left;
}

.sideBlock {
    float:left;
    position: relative;
    top: 18px;
}

.name {
    position: relative;
    top: 70px;
    font-size: 50px;
    font-weight: bold;
    color: #00204E;
    float: left;
}

.hostProfile {
    position: relative;
    left: -80px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
}

.profileButton {
    border-radius: 50%;
    background: none;
    border: 0;
    padding: 0;
}

.profileButton img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid;
}

.profileButton img:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.coverPhoto {
    width: 500px;
    height: 200px;
    margin-top: 10px;
    border-radius: 15px;
}

.coverPhoto:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.coverPhoto #eventPic{
    height: 200px;
    width: 500px;
    border-radius: 15px;
}

.eventBlock h3 {
    margin: 10px 0 5px 0;
}

.description {
    padding: 5px 10px 10px 10px;
    width: 500px;
    height: 200px;
    overflow: auto;
    margin-top: 5px;
    border-radius: 15px;
}

.description:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.googleMap img {
    margin-top: 5px;
    width: 360px;
    height: 330px;
}

.googleMap img:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*
For google map integration later on
.googleMap .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    background-color: blue; 
    cursor: 'pointer';
  }

.googleMap .marker:hover {
    z-index: 1;
} */

.attendees {
    margin-top: 5px;
    width: 360px;
    height: 160px;
    padding: 10px;
    max-height: 100%;
    overflow: auto;
    border-radius: 15px;
    padding: 5px 10px 10px 10px;
}

.attendees:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.attendees .table tbody tr td{
    font-size: 13px;
    padding: 10px 0;
    border: 0;
    text-align: center; 
    vertical-align: middle;
}

.attendees .table tbody tr td button {
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.attendees .table tbody tr td button:hover {
    color: #EC7063;
}

