/*
For Modal
*/
.modal-header{
    background-color: rgb(248, 213, 218);
    color: black;
}
.edit-modal{
    width: 50%;
    position: relative;
    margin: 80px auto;
    bottom: 50%;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-y: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.create-event{
    padding: 15px;
}
.create-event-text{
    width: 300px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.event-info {
    display: inline-block;
}
.eventDate {
    float: left;
}
.uploadPic {
    margin-left: 90px;
    float: right;
}
#pickup-date{
    width: 200px;
}
.modalBtn {
    background-color: rgb(248, 213, 218);
    color: black;
    padding: 5px 30px 5px 30px;
    border: 0;
}
.modalBtn:hover {
    transition-duration: 0.4s;
    background-color: rgb(245, 150, 164);
}
/*
For Modal
*/
.eventList {
    width: 100vw;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sweet-loading {
    width: 100vw;
    position: absolute;
    top: 40%;
    border-top: solid 10px rgb(245, 150, 164);
    border-bottom: solid 10px rgb(245, 150, 164);
    background-color: rgb(248, 213, 218);
    padding: 15px 0 40px 45vw;
}

.eventList .container {
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 130px;
}

.eventList h3 {
    max-height: 10%;
}

.hostEventBtn {
    position: relative;
    left: 545px;
    top: 20px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(248, 213, 218);
    border: none;
}

.hostEventBtn:hover {
    transition-duration: 0.4s;
    background-color: rgb(245, 150, 164);
}

.eventList table {
    border: 2px solid;
    height: 400px;
    width: 700px;
    background-color: rgba(248, 213, 218, 0.75);
}

.eventList table:hover {
    transition-duration: 0.4s;
    background-color: rgb(248, 213, 218);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.eventList table thead {
    border-bottom: 2px solid;
}

.eventList table tbody {
    display:block;
    max-height: 400px;
    overflow:auto;
}

.eventListHeaderRow {
    display: table;
    width: 700px;
    height: 40px;
    border-bottom: 1px solid black;
    table-layout: fixed;
}

.eventListRow  {
    display: table;
    width: 700px;
    height: 40px;
    border-bottom: 1px solid black;
    table-layout: fixed;
}

.eventListRow:hover {
    background-color: rgb(245, 150, 164);
}

.eventListName {
    max-width: 400px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.eventListLocation {
    max-width: 100px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.eventListDate {
    max-width: 200px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.eventListButton {
    border-radius: 50%;
    background: none;
    text-align: left;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 0 0 5px;
}