.editlabel {
    width: 400px;
    position: absolute;
    left: 10%;
    margin-left: 20px;
}

.edithiddenlibrary {
    margin: auto;
    position: relative;
    float: right;
    width: 50%;
    margin-right: 20%;
}

.edithiddenlibrarydiv {
    width: 90%;
    position: relative;
    left: 20%;
    top: 5%;
    text-align: center;
}


.editphotolibrary {
    margin: auto;
    position: relative;
    width: 50%;
    margin-right: 20%;
    top: -30%;
}

.editphotolibrarydiv {
    width: 90%;
    position: relative;
    left: 20%;
    text-align: center;
}

.editprofilepicturediv {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 2%;
}

.inputdescriptor {
    color: grey;
    position: relative;
    text-align: left;
    width: 200px;
}

#editcurrentprofilepic {
    position: relative;
    margin-bottom: 2%;
    border-radius: 50%;
	height: 250px;
	width: 200px;
}

#editintro {
    height: 300px;
}

#edithiddenlibraryheader {
    position: relative;
    left: 5%;
}

#editphotolibraryheader {
    position: relative;
    right: 1.5%;
}

#editprofilepictureheader {
    position: relative;
}

#profileinputdiv {
    float: left;
    margin-left: 2%;
}

#submitbutton {
    width: 100px;
    color:black;
    border-radius: 8px;
    background-color: #555555;
    color:white;
}

#submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }